
#Contenedor-principal{
    width: 100%;
    margin: 0 auto;

}
#menu{
    width: 200px;
    background-color: #eee;
    float: right;
    padding: 20px;
    box-sizing: border-box
}
#cabecera{
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

#contenido{
    width: 740px; 
    float: left;
    padding: 20px;
    box-sizing: border-box;
    
}
#pie-pagina{
    
    background-color: #ccc;
    clear: both;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
